@page
@model ContosoCrafts.WebSite.Pages.Product.IndexModel
@{
    ViewData["Title"] = "Index page";
}
<div class="search">
    <form method="get" class="search-form">
        <input class="search-input" asp-for="SearchString" placeholder="Search Profession" />
        <button class="btn-search" type="submit">Search</button>
    </form>
    <form method="get" class="reset-form">
        <button class="btn-reset" type="submit">Reset</button>
    </form>
</div>
<div class="container">
    <div class="data-table">
        <h1>INDEX</h1>
        <br>
        <a asp-page="Create" class="btn-create">+Create</a>
        <br>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th colspan="2">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.Products)
                {
                    <tr>
                        <td>@product.Title</td>
                        <td><a class="btn-read" asp-page="Read" asp-route-id="@product.Id">Read</a></td>
                        <td><a class="btn-update" asp-page="Modify" asp-route-id="@product.Id">Update</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>