@page
@model ContosoCrafts.WebSite.Pages.About_UsModel
@{
}
<div class="card-about" >
    <h1> About Us</h1>
    <p>Hello All, Welcome to ClickAway , we are happy you want to know something more about our site.People are more dependent on services that are available online we have taken a step forward to help you.
    Our first wish is to provide you with a better solution to solve your problem. So, kindly if you don't get any solution then mention it in the comment section.
    Also, we are trying to provide fresh & latest content that provides you ideas about all updated information that's happening in the world.
    In the below section you can get more ideas about our site like our website category and content category.If you have additional questions or require more information about our About Us Page, do not hesitate to contact us through email at <b>info@clickaway.com</b>
    <b>services@clickaway.com</b></p>
    <h2><b>What's Our Goal?</b></h2>
    <p> Our main goal is to provide you with 100% Original and Safe content that provides you a great and better experience.We mainly focus on our service so and improving it regularly to provide a better user experience to all users.Basically, we focus on the Professional Services  niche so, our main priority is to search for new content and present it in front of you to for a better service. </p>
    <h3><b>What's our Service?</b></h3>
    <p>We are mainly focused on the professional services  category so, we provide professional services such as Chef ,Caretaker ,Nanny ,Plumber ,Carpentry ,Beautician ,Driver ,Gardener and Electrician
    ClickAway provides various kind of services at your doorstep.On our website ClickAway you get can all professional services  related information also, we focus on many other categories and we hope you like the content of other categories that are maintained on our website. So, you can visit our website homepage to know all category of services Click here -->
    <a href="https://localhost:31560/" rel="external nofollow noopener" target="_blank">https://localhost:31560/>ClickAway</a>.
    </p>
    <h3><b>About ClickAway</b></h3>
     <p>As you can see already we mention what is our goal and service. Again we repeat that we mainly focus on professional services  category to help people.This website is created by ClickAway team to help people because  people are still spending hours of time to get exact information needed for their service, this is the only motive by enhancing the services to people and provide them a better experience.</p>

    <h3><b>Admin's Statement for ClickAway</b></h3>
     <p>There are many people who visit the internet to get some information but 90% of the time they get wrong information so, the first priority of our website ClickAway is to provide 100% legit and accurate information to our users, Also, I hope our dream comes true one day, and our website will provide more professions for better user experience.Finally, this is our complete about us page and the motive to create ClickAway.
        <h3>"Thanks for visiting our Page You can find Admin's' information in below Links"<h3>
    </p>

    <h5>Kapish: <a href="https://www.linkedin.com/in/kapishpatel/ ">Linkedin</a></h5>
    <h5>Chunhai: <a href="https://www.linkedin.com/in/chunhai-y-a99a28198/">Linkedin</a></h5>
    <h5>Sriram: <a href="https://www.linkedin.com/in/sriram-krishna-6a68631b4">Linkedin</a></h5>
    <h5>Vidhi: <a href="https://www.linkedin.com/in/rathodvidhi">Linkedin</a></h5>
</div>

