@page
@model ContosoCrafts.WebSite.Pages.Contact_UsModel
@{
}

<div class="card-contact">
    <h1>Contact Us !</h1>
    <br>
    <div>
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25137.024432293485!2d-122.32509007739856!3d47.638004309998884!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54901502b25bb07f%3A0x1e6e55abec496196!2sGas%20Works%20Park!5e0!3m2!1sen!2sus!4v1667894209894!5m2!1sen!2sus" width="450" height="600" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <p style="left;">
            <i class="fas fa-envelope-open-text"></i> <b>Write to us at: <i> <span id="W_Email"><a href="mailto:info@clickaway.com" or=" service@clickaway.com="">info@clickaway.com or service@clickaway.com</a></span></i></b><br>
        <p style="left;">
            <i class="fab fa-whatsapp-square"></i> <b>Call us at: <span id="W_whatsapp"><a href="tel:425.889.5773" or="" 206.886.4994="">425.889.5773 or 206.886.4994</a></span></b><br>
        </p>
        <p>We will revert to you as soon as possible...!</p>
        <p>Thank you for contacting us! <br><b>Have a great day</b></p>
    </div>
</div>
