@page "{id}"
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService
@model ContosoCrafts.WebSite.Pages.Product.DeleteModel;
@{
    ViewData["title"] = "Delete Page";
}


<div class="container delete">
    <h1>Delete Confirmation</h1>
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(x => x.Product.Id)

        <div class="form-group">
            <label asp-for="Product.Title" class="control-label"></label>
            <input asp-for="Product.Title" class="form-control" disabled />
        </div>

        <div class="form-group">
            <label asp-for="Product.Description" class="control-label"></label>
            <input asp-for="Product.Description" class="form-control" disabled />
        </div>

        <div class="form-group">
            <label asp-for="Product.Image" class="control-label"></label>
            <input asp-for="Product.Image" class="form-control" disabled />
        </div>

        <div class="form-group">
            <label asp-for="Product.Maker" class="control-label"></label>
            <input asp-for="Product.Maker" class="form-control" disabled />
        </div>

        <div class="form-group">
            <label asp-for="Product.MakerEmail" class="control-label"></label>
            <input asp-for="Product.MakerEmail" class="form-control" disabled />
        </div>

        <div class="form-group">
            <label asp-for="Product.Price" class="control-label"></label>
            <input asp-for="Product.Price" class="form-control" disabled />
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-danger btn-lg" />
        </div>
    </form>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}