@page
@model ContosoCrafts.WebSite.Pages.Product.IndexModel
@{
    ViewData["Title"] = "Index page";
}

<div class="container">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.Title</td>
                    @*<td><a asp-page="Read" asp-route-id="@product.Id">Read</a></td>*@
                </tr>
            }
        </tbody>
    </table>
</div>