@page
@model ContosoCrafts.WebSite.Pages.Product.IndexModel
@{
    ViewData["Title"] = "Index page";
}

<div class="container">
    <h1>Index Page</h1>
    <a asp-page="Create" class="btn btn-success">+Create</a>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th colspan="2">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.Title</td>
                    <td><a asp-page="Read" asp-route-id="@product.Id">Read</a></td>
                    <td><a asp-page="Modify" asp-route-id="@product.Id">Update</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>