@page
@model GalleryModel
@{
    ViewData["Title"] = "Gallery";
}

<div class="container">
    <div class="gcards">
        <div class="cardtitle">
            <h1>gardner</h1>
        </div>
        <div class="images">
            <div class="img1">
                <img src="https://www.onlinedegree.com/wp-content/uploads/2017/02/gardener.jpg" />
            </div>
            <div class="img2">
                <img src="https://cdn.shopify.com/s/files/1/0059/8835/2052/files/MG_Main_1.jpg?v=1613163485" />
            </div>
            <div class="img3">
                <img src="https://img.freepik.com/premium-photo/gardner-image-poor-man-working_181020-4052.jpg?w=2000" />
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="gcards">
        <div class="cardtitle">
            <h1>Chef</h1>
        </div>
        <div class="images">
            <div class="img1">
                <img src="https://chef-source.com/wp-content/uploads/2021/10/about-img.jpg" />
            </div>
            <div class="img2">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxpVIpihsLKVoarlbWoTKCv2UPxTNNYFWI0-_L5gEeVWCLiBsXmddDWkpqB-TAyOJugIs&usqp=CAU" />
            </div>
            <div class="img3">
                <img src="https://assets.foxdcg.com/dpp-uploaded/images/hells-kitchen/keyart_s23.jpg" />
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="gcards">
        <div class="cardtitle">
            <h1>Driver</h1>
        </div>
        <div class="images">
            <div class="img1">
                <img src="https://media.istockphoto.com/id/1223392906/photo/cute-young-success-happy-brunette-woman-is-driving-a-car.jpg?s=612x612&w=0&k=20&c=4NOttnNXkosv8pfLzw0l5bRT2qU08NcwbxLxTm5RcwE=" />
            </div>
            <div class="img2">
                <img src="https://www.digitalcreed.in/wp-content/uploads/2016/04/driver.jpg" />
            </div>
            <div class="img3">
                <img src="https://www.thecoldwire.com/wp-content/uploads/2021/08/Young-woman-driving-her-car.jpg" />
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="gcards">
        <div class="cardtitle">
            <h1>Plumber</h1>
        </div>
        <div class="images">
            <div class="img1">
                <img src="https://wfhann.com/media/bodyimg-plumbing.jpg" />
            </div>
            <div class="img2">
                <img src="https://nationaleconomyplumber.com/wp-content/uploads/2020/10/Different-Types-of-Plumbers.jpg" />
            </div>
            <div class="img3">
                <img src="https://nationaleconomyplumber.com/wp-content/uploads/2020/05/How-to-Find-a-New-Orleans-Plumber-in-7-Steps.jpg" />
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="gcards">
        <div class="cardtitle">
            <h1>Electrician</h1>
        </div>
        <div class="images">
            <div class="img1">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDrdOiXuLUhH-V1CzqgVvI_lyNAFphmDVfOA&usqp=CAU" />
            </div>
            <div class="img2">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREMoGTFcrHOuZ_N61k59hKvTrydcIMuhqu5o9IDVv99hgWTZpLqTJI9NUV5MssWDp2xDs&usqp=CAU" />
            </div>
            <div class="img3">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFtk-8Kcm42sk0EULcFBQ12khRMQoe-q93HQ&usqp=CAU" />
            </div>
        </div>
    </div>
</div>
  
<div class="container">
    <div class="gcards">
        <div class="cardtitle">
            <h1>Doctor</h1>
        </div>
        <div class="images">
            <div class="img1">
                <img src="https://www.aamc.org/sites/default/files/styles/scale_and_crop_1200_x_666/public/Public%20Opinion%20Research%201200x666.jpg?itok=Z9g0DOPe" />
            </div>
            <div class="img2">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTr5d0fqLZopPI30hrvDns7aYQ5_wkmJNbEIw&usqp=CAU" />
            </div>
            <div class="img3">
                <img src="https://static.scientificamerican.com/sciam/cache/file/F6FF3DF2-A99D-4BE0-99595C9E4717FEF4_source.jpg" />
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="gcards">
        <div class="cardtitle">
            <h1>Beautician</h1>
        </div>
        <div class="images">
            <div class="img1">
                <img src="https://s3.us-west-1.amazonaws.com/www.vivaglammagazine.com/wp-content/uploads/2019/12/ultimate-guide-to-being-a-beautician-main-image.jpg" />
            </div>
            <div class="img2">
                <img src="https://previews.123rf.com/images/undrey/undrey1709/undrey170900042/86555402-portrait-of-female-beautician-holding-a-set-of-makeup-brushes-in-beauty-salon.jpg" />
            </div>
            <div class="img3">
                <img src="https://cdn.create.vista.com/api/media/small/429903654/stock-photo-professional-beautician-using-treatment-product" />
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="gcards">
        <div class="cardtitle">
            <h1>Carpenter</h1>
        </div>
        <div class="images">
            <div class="img1">
                <img src="https://www.liveabout.com/thmb/d7o0TGw_OMxqRzqrQmAgdfXYwR8=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/young-stylish-cabinet-maker-with--glasses-and-hairstyle--strong--handsome-craftsman-holding-saw-and-wood-blank-at-workplace-944613244-5af9afc2a18d9e003c17040c.jpg" />
            </div>
            <div class="img2">
                <img src="https://as1.ftcdn.net/v2/jpg/02/02/38/52/1000_F_202385260_e3GKmVnthAOYYiVX8bhCl4oL4ueCg58B.jpg" />
            </div>
            <div class="img3">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFnDRNSLo7htgpx4nKmi2WT0KY40knDb29xnP1wywq_QXo1jdfpNEwXEM_iVj3mfr9rVk&usqp=CAU" />
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="gcards">
        <div class="cardtitle">
            <h1>Caretaker</h1>
        </div>
        <div class="images">
            <div class="img1">
                <img src="https://thumbs.dreamstime.com/b/woman-cleaning-building-hall-adult-cleaner-maid-mop-uniform-corridor-pass-floor-business-31276366.jpg" />
            </div>
            <div class="img2">
                <img src="https://polishedclean.co.uk/wp-content/uploads/2020/02/find-a-cleaner.png" />
            </div>
            <div class="img3">
                <img src="https://www.etax.com.au/wp-content/uploads/2018/08/Claim-you-cleaner-tax-deductions.jpg" />
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="gcards">
        <div class="cardtitle">
            <h1>Nanny</h1>
        </div>
        <div class="images">
            <div class="img1">
                <img src="https://www.momsbestfriend.com/dallas/wp-content/uploads/sites/4/2019/09/Find-Austin-Nannies-1024x656.jpg" />
            </div>
            <div class="img2">
                <img src="https://www.care.com/c/wp-content/uploads/sites/2/2021/04/LaurenGarcia-201949212249693651-1620x1080.jpg.optimal.jpg" />
            </div>
            <div class="img3">
                <img src="https://www.atxnannynetwork.com/wp-content/uploads/what-is-austin-nanny-network.jpg" />
            </div>
        </div>
    </div>
</div>